<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px" id="grid-bg">
    <mat-grid-tile
      colspan="1"
      rowspan="1"
      routerLink="/profile"
      class="no-border"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="dashboard-card-title">
            Profile
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>See Your Personal Information</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="1"
      rowspan="1"
      routerLink="/create-ticket"
      class="no-border"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="dashboard-card-title">
            Create A Reimbursement
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Create Tickets For Any Reimbursements You Plan to Recieve</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="1"
      rowspan="1"
      routerLink="/view-ticket"
      class="no-border"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="dashboard-card-title">
            View Reimbursements
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            View Tickets The Status Reimbursements That You have Already
            Submitted
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      colspan="1"
      rowspan="1"
      routerLink="/admin"
      class="no-border"
    >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="dashboard-card-title">
            Admin Panel
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Manage Reimbursement Requests For All Employess</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- *ngIf="user.role == 'Admin'" -->
