<mat-card
  class="login-form"
  *ngIf="requiresNewPassword == false; else confirmPassword"
>
  <form (submit)="doSubmit()">
    <div>
      <div class="form-title">Log In</div>
      <mat-form-field class="inputs">
        <mat-label>Username</mat-label>
        <input
          matInput
          #message
          maxlength="50"
          placeholder="Enter username"
          [(ngModel)]="username"
          name="username"
          id="username"
          type="email"
          required
        />
        <mat-hint align="end">{{ message.value.length }} / 50</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="inputs">
        <mat-label>Password</mat-label>
        <input
          matInput
          #pass
          maxlength="50"
          placeholder="Enter password"
          [(ngModel)]="password"
          id="password"
          type="password"
          name="password"
          required
        />
        <mat-hint align="start">Do Not Share Your Password!</mat-hint>
        <mat-hint align="end">{{ pass.value.length }} / 50</mat-hint>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="submit-button">
      Submit
    </button>
  </form>
</mat-card>

<ng-template #confirmPassword>
  <mat-card id="card" class="reimb-form">
    <mat-card-title class="form-title">
      Enter Your New Password And Details
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="110px">
        <mat-grid-tile>
          <mat-form-field class="first-input">
            <mat-label>Enter New Password</mat-label>
            <input
              matInput
              #newPass
              maxlength="50"
              minlength="8"
              [(ngModel)]="newPassword"
              id="newPassword"
              type="password"
              name="newPassword"
              required
            />
            <mat-hint align="start">Do Not Share Your Password!</mat-hint>
            <mat-hint align="end">{{ newPass.value.length }} / 50</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="second-input">
            <mat-label>Preferred Name</mat-label>
            <input
              matInput
              #message
              maxlength="50"
              [(ngModel)]="preferredName"
              name="preferredName"
              id="preferredName"
              type="text"
            />
            <mat-hint align="end">{{ message.value.length }} / 50</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="first-input">
            <mat-label>First Name</mat-label>
            <input
              matInput
              #message
              maxlength="50"
              [(ngModel)]="firstName"
              name="firstName"
              id="firstName"
              type="text"
              required
            />
            <mat-hint align="end">{{ message.value.length }} / 50</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="second-input">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              #message
              maxlength="50"
              [(ngModel)]="lastName"
              name="lastName"
              id="lastName"
              type="text"
              required
            />
            <mat-hint align="end">{{ message.value.length }} / 50</mat-hint>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <button
            mat-raised-button
            color="primary"
            class="submit-button"
            (click)="doConfirm()"
          >
            Confirm Details
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</ng-template>
