.login-form {
  width: 60%;
  height: 30%;
  margin: auto;
  margin-top: 10%;
}

.login-form-confirm {
  width: 60%;
  height: 15%;
  margin: auto;
  margin-top: 10%;
}

.inputs {
  width: 100%;
  margin-top: 4%;
}

.submit-button {
  width: 100%;
  margin-top: 2%;
  margin-bottom: auto;
}

.reimb-form {
  width: 70%;
  height: 40%;
  margin: auto;
  margin-top: 10%;
  overflow: auto;
}

.submit-button {
  width: 100%;
}

.form-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #673ab7;
}

.first-input {
  width: 100%;
}

.second-input {
  width: 95%;
}
