<div *ngIf="data.name != null; else confirmDiv">
  <h1 mat-dialog-title class="text-color">Reciept</h1>
  <div mat-dialog-content>
    <img [src]="data.name" class="cover" />
  </div>
  <div mat-dialog-actions>
    <button mat-dialog-close mat-raised-button color="primary">Close</button>
  </div>
</div>

<ng-template #confirmDiv>
  <h1 mat-dialog-title class="text-color" mat-typography>
    No Receipt Has Been Added
  </h1>
  <div mat-dialog-content class="text-color" mat-typography>
    You have not attached a receipt to this request. As a result, your
    reimbursement could be delayed. Are you sure you want to continue with this
    submission?
  </div>
  <mat-dialog-actions class="dialog-actions">
    <button mat-dialog-close mat-raised-button color="primary">Cancel</button>
    <button
      mat-dialog-close
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
    >
      Submit
    </button>
  </mat-dialog-actions>
</ng-template>
