.reimb-form {
  width: 70%;
  height: 50%;
  margin: auto;
  margin-top: 10%;
  overflow: auto;
}

.inputs {
  width: 30%;
  margin-top: 4%;
}

.submit-button {
  width: 100%;
}

.form-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #673ab7;
}

.first-input {
  width: 100%;
}

.second-input {
  width: 95%;
}

.text-input {
  width: 95%;
}

.new-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #673ab7;
  font-size: 1rem;
  color: #fff;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: rgb(153, 153, 153);
}
.button-wrap {
  position: relative;
  width: 90%;
  text-align: center;
}
